numpy==1.19.2
flask==1.1.2
flask-cors==3.0.10
pygame==2.0.1
pyglet==1.5.15
opencv-python==4.5.1.48
opencv-contrib-python==4.5.1.48
pybind11==2.6.2
BriCA2
oculoenv==0.1.3
tensorflow==2.4.1
chainer==7.7.0
torch==1.8.1
torchvision==0.9.1
